.bounce {
   
    background-color: #3498db00;
    
    animation: bounce 2s infinite;
}

@keyframes bounce {
    /* 0%, 20%, 50%, 80%, 100% {
        transform: translateY(50px);
    }
    40% {
        transform: translateY(-50px);
    }
    60% {
        transform: translateY(-50px);
    } */

    0%{
        transform: translateY(-50px);
        
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-50px);
    }
}


.progress-bars {
    list-style-type: none;
    padding: 1.5rem;
    color: aqua;
    background: rgba(137, 43, 226, 0);
    border-radius: 15px;
    width: 700px;
    box-shadow: 0 0 15px #050505;
    margin: 2rem auto;
}

.progress-bars h3{
    color: #a6a6a6;
    font-weight: 600;
    margin: .5rem 0;
}

.progress-bars li{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar {
    width: 85%;
    height: .5rem;
    background: #ffffff;
    box-shadow: inset -1px -1px #616161,
                inset 1px 4px 8px #1b1212;

   border-radius: 10px;
   margin: 2rem 0;

}

.progres {
    background: linear-gradient(90deg, #f05502, #b4cb09);
width: 50%; 
height: 100%;
border-radius: inherit;
position: relative;
box-shadow: 0 0 3px #70adff;

}


.progres::before {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
transform: translateY(-50%);
width: 1em;
height: 100%;
background: #fff;
border-radius: inherit;
box-shadow: 0 0 20px #fff;
filter: blur(2px);

}

.progress {
    border-radius: var(--rounded-box, .1rem /* 16px */);
}

.progress::-webkit-progress-bar {
    border-radius: var(--rounded-box, .1rem /* 16px */);
    background-color: transparent;
}
.progress::-webkit-progress-value {
    border-radius: var(--rounded-box, .1rem /* 16px */);
    --tw-bg-opacity: 1;
    background-color: var(--fallback-bc,oklch(var(--bc)/var(--tw-bg-opacity)));
}

.progress-accent::-moz-progress-bar {
    border-radius: var(--rounded-box, .1rem   /* 16px */);
    --tw-bg-opacity: 1;
    background-color: var(--fallback-a,oklch(var(--a)/var(--tw-bg-opacity)));
}


/* .wrapper {
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 150px;
  margin-top: 5rem;
  overflow: hidden;
  display: flex;
  gap: 10px;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.item {
  width: 180px;
  height: 150px;
  background-color: transparent;
  border-radius: 6px;
  flex-shrink: 0; 
  animation: scrollLeft 30s linear infinite;
}

.item img {
  width: 150px;
  height: 100px;
  display: block;
  margin: auto;
} */

.item:nth-child(1) {
  animation-delay: calc(-30s / 12 * 11);
}
.item:nth-child(2) {
  animation-delay: calc(-30s / 12 * 10);
}
.item:nth-child(3) {
  animation-delay: calc(-30s / 12 * 9);
}
.item:nth-child(4) {
  animation-delay: calc(-30s / 12 * 8);
}
.item:nth-child(5) {
  animation-delay: calc(-30s / 12 * 7);
}
.item:nth-child(6) {
  animation-delay: calc(-30s / 12 * 6);
}
.item:nth-child(7) {
  animation-delay: calc(-30s / 12 * 5);
}
.item:nth-child(8) {
  animation-delay: calc(-30s / 12 * 4);
}
.item:nth-child(9) {
  animation-delay: calc(-30s / 12 * 3);
}
.item:nth-child(10) {
  animation-delay: calc(-30s / 12 * 2);
}
.item:nth-child(11) {
  animation-delay: calc(-30s / 12 * 1);
}
.item:nth-child(12) {
  animation-delay: 0s;
}






.wrapper {
    width: 100%;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    height: 150px;
    margin-top: 5rem;
    overflow: hidden;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1) 20%,
      rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0)
    );
  }
  
  @keyframes scrollLeft {
    to {
      left: -650px;
    }
  }
  
  .item {
    width: 180px;
    height: 150px;
    background-color: rgba(198, 20, 20, 0);
    border-radius: 6px;
    position: absolute;
    left: max(calc(200px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  
  .item img {
    width: 150px;
    height: 100px;
  } 
/*
  .item1 {
    animation-delay: calc(30s / 8 * (8 - 1) * -1);
  }
  
  .item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
  
  .item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
  
  .item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
  
  .item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
  
  .item6 {
    animation-delay: calc(30s / 8 * (8 - 6) * -1);
  }
  
  .item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
  
  .item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }

  .item9 {
    animation-delay: calc(30s / 8 * (8 - 9) * -1);
  }

  .item10 {
    animation-delay: calc(30s / 8 * (8 - 10) * -1);
  }

  .item11 {
    animation-delay: calc(30s / 8 * (8 - 11) * -1);
  }

  .item12 {
    animation-delay: calc(30s / 8 * (8 - 12) * -1);
  } */